@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Na77ina el Dark Mode media query bech may-sirouch machakel */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}