@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: white !important;
  color: #171717 !important;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: #1e40af !important; /* Blue-800 */
}


input {
  color: #1e293b !important;
  background-color: white !important;
}